# https://docs.minecraftforge.net/en/latest/advanced/accesstransformers
public net.minecraft.client.gui.screens.achievement.StatsScreen$GeneralStatisticsList
public net.minecraft.client.gui.screens.achievement.StatsScreen$GeneralStatisticsList$Entry
public net.minecraft.client.gui.screens.achievement.StatsScreen$ItemStatisticsList
public net.minecraft.client.gui.screens.achievement.StatsScreen$ItemStatisticsList$ItemRow
public net.minecraft.client.gui.screens.achievement.StatsScreen$MobsStatisticsList
public net.minecraft.client.gui.screens.achievement.StatsScreen$MobsStatisticsList$MobRow
